/**
 * Restrictly Admin Bulk Edit Content Type Styles
 *
 * @package    Restrictly
 * @since      0.1.0
 */

/* Restrictly Menu Panel */
.restrictly-bulk-edit-panel {
  background: #fae9e0;
  border: 1px solid #f0c9b2;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 15px 0 !important;
  padding: 10px 15px !important;
}

/* Settings Box Title */
.restrictly-bulk-edit-panel-header {
  margin-top: 0;
  font-size: 14px;
  font-weight: 600;
  border-bottom: 1px solid #f69b5d;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
