/**
 * Restrictly Admin Settings Styles
 *
 * @package    Restrictly
 * @since      0.1.0
 */

/* ========================= */

/* SETTINGS PAGE */

/* ========================= */

/* Settings Box */
.restrictly-settings-box {
  background: #fff;
  border: 1px solid #ccd0d4;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 1%);
  margin-top: 20px;
  padding: 15px;
}

/* Settings Box Title */
.restrictly-settings-box h2 {
  margin-top: 0;
  font-size: 18px;
  padding-bottom: 10px;
  font-weight: 600 !important;
}

/* Settings Box Title Icon */
.restrictly-settings-logo {
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Table Cells */
.restrictly-settings-box .form-table td {
  padding: 10px 0;
}

/* ========================= */

/* TABS */

/* ========================= */

/* Tab Navigation */
.restrictly-tabs .nav-tab-wrapper {
  margin-bottom: 1rem;
}

/* Tab Content */
.restrictly-tab-content {
  display: none;
}

.restrictly-tab-content.active {
  display: block;
}

.nav-tab.disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}
